
@{
    Layout = "~/Views/Shared/_LayoutPrintPDF.cshtml";
}



<style>
    .media {
        border: 1px solid;
        margin-bottom:0 !important;
        margin-top:0 !important;
    }

    .lista-variable {
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-flex-flow: row wrap;
        flex-flow: row wrap;
    }

    .col-md-6 {
        padding: 10px;
        min-height: 100%;
        width: 33.3%;
    }
</style>

<div class="container-fluid">

    <div class="row lista-variable">

        <div class="media col-sm-6">
            <div class="media-left">

                <div class="thumbnail">
                    <img src="holder.js/100x150/text:Obra 1" alt="Sin Imagen" class="media-object">
                </div>

            </div>

            <div class="media-body media-middle">

                <table class="table">
                    <tr>
                        <td>Autor numero uno</td>
                    </tr>
                    <tr>
                        <td>Titulo de la obra</td>
                    </tr>
                    <tr>
                        <td>Tecnica de la obra</td>
                    </tr>
                    <tr>
                        <td>Medidas de la obra 00x00x00cm</td>
                    </tr>
                    <tr>
                        <td>Ubicacion de la obra</td>
                    </tr>

                </table>

            </div>

        </div>


        <div class="media col-sm-6">
            <div class="media-left">

                <div class="thumbnail">
                    <img src="holder.js/100x100/text:Obra 2" alt="Sin Imagen" class="media-object">
                </div>

            </div>

            <div class="media-body media-middle">

                <table class="table">
                    <tr>
                        <td>Autor</td>
                    </tr>
                    <tr>
                        <td>Titulo de la obra</td>
                    </tr>
                    <tr>
                        <td>Tecnica de la obra</td>
                    </tr>
                    <tr>
                        <td>Medidas de la obra  00x00x00cm</td>
                    </tr>

                </table>

            </div>

        </div>



        <div class="media col-sm-6">
            <div class="media-left">

                <div class="thumbnail">
                    <img src="holder.js/100x150/text:Obra 3" alt="Sin Imagen" class="media-object">
                </div>

            </div>

            <div class="media-body media-middle">

                <table class="table">
                    <tr>
                        <td>Autor</td>
                    </tr>
                    <tr>
                        <td>Titulo de la obra </td>
                    </tr>
                    <tr>
                        <td>Tecnica de la obra </td>
                    </tr>
                    <tr>
                        <td>Medidas de la obra 00x00x00cm</td>
                    </tr>
                    <tr>
                        <td>Propietario de la obra </td>
                    </tr>
                    <tr>
                        <td>Medidas de la obra 00x00x00cm</td>
                    </tr>

                </table>

            </div>

        </div>

        <div class="media col-sm-6">
            <div class="media-left">

                <div class="thumbnail">
                    <img src="holder.js/100x100/text:Obra 4" alt="Sin Imagen" class="media-object">
                </div>

            </div>

            <div class="media-body media-middle">

                <table class="table">
                    <tr>
                        <td>Autor</td>
                    </tr>
                    <tr>
                        <td>Titulo de la obra </td>
                    </tr>
                    <tr>
                        <td>Tecnica de la obra </td>
                    </tr>
                    <tr>
                        <td>Medidas de la obra 00x00x00cm</td>
                    </tr>

                </table>

            </div>

        </div>

        <div class="media col-sm-6">
            <div class="media-left">

                <div class="thumbnail">
                    <img src="holder.js/100x100/text:Obra 5" alt="Sin Imagen" class="media-object">
                </div>

            </div>

            <div class="media-body media-middle">

                <table class="table">
                    <tr>
                        <td>Autor</td>
                    </tr>
                    <tr>
                        <td>Titulo de la obra </td>
                    </tr>
                    <tr>
                        <td>Tecnica de la obra </td>
                    </tr>
                    <tr>
                        <td>Medidas de la obra 00x00x00cm</td>
                    </tr>

                    <tr>
                        <td>Fondo de la obra</td>
                    </tr>

                    <tr>
                        <td>Coleccion de la obra</td>
                    </tr>


                    <tr>
                        <td>Ubicacion</td>
                    </tr>

                </table>

            </div>

        </div>
    </div>


</div>