body {
    width: 8.5in !important;
    /*padding-top: 1.4cm !important;
    padding-bottom: 1.4cm !important;
    padding-left: 0.2cm !important;*/
    /*margin: 0in .1875in;*/
    padding: 1.4cm 0.2cm 1.4cm;
}

.label_5163 {
    /* Avery 5163 labels */
    width: 10.16cm;
    height: 5.08cm;
    margin-left: 0.25cm;
    margin-right: 0.2cm;
    float: left;
    overflow: hidden;
    /* outline: 1px solid; outline doesn't occupy space like border does */
}




.margen-superior {
    height: 1.4cm;
}

.page-break {
    clear: left;
    display: block;
    page-break-after: always;
}


.print-imagen-label {
    padding: 10px;
    min-width: 150px !important;
    max-width: 150px !important;
}


.media-body.etiqueta {
    padding: 10px;
}
