@using RecordFCS_Alt.Models
@model RecordFCS_Alt.Models.ItemFicha
@using RecordFCS_Alt.Helpers



<!-- #endregion -->

<div class="media">

    <!-- #region Cuerpo Izquierdo -->
    <!-- #region Multimedia -->

    <div class="media-left">

       
    </div>

    <!-- #endregion -->
    <!-- #endregion -->
    <!-- #region Cuerpo Central -->

    <div class="media-body clearfix">

        <h1>Prueba</h1>

    </div>
    <!-- #endregion -->



</div>


<!-- #endregion -->
<!-- #region scripts -->

<script src="~/Scripts/add.toolTip.js"></script>
